body{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

.introTitle{
    font-weight: 700;
}
.smallTitle{
    font-weight: 200;
    font-size: 1rem;
}
.instruction{
    font-weight: 300;
}

.story{
    font-family: 'Chilanka', cursive !important;
}
